doctype html
html(lang='en', ng-app='polls')
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
		script(src='//code.angularjs.org/1.5.8/angular.min.js')
		script(src='//code.angularjs.org/1.5.8/angular-resource.min.js')
	body(ng-controller="ActiveCallsListCtrl")
		block content